[submodule "vendor/lua-resty-openidc"]
	path = vendor/lua-resty-openidc
	url = https://github.com/mascarenhas/lua-resty-openidc.git
[submodule "vendor/lua-resty-jwt"]
	path = vendor/lua-resty-jwt
	url = https://github.com/mascarenhas/lua-resty-jwt.git
